body {
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "hero"
    "main";
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header ul {
  justify-content: flex-end;
}

.header li {
  padding: 5px;
}

#hero {
  background-color: #e5cece;
  padding: 4%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  font-size: 5ch;
}

#hero h2 {
  font-size: 3.5ch;
}

#hero p {
  margin-top: 6%;
}

h2 {
  text-align: center;
}

.skills ul {
  justify-content: space-evenly;
}

.projects p {
  width: 350px;
  height: 85px;
  /* text-align: center; */
  margin-left: 20px;
}

.projects ul {
  justify-content: space-evenly;
  margin: auto 7%;
}

.projects li {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
}

.projects div {
  display: flex;
  justify-content: space-evenly;
}

.projects button {
  width: 27%;
  height: 35px;
  border-radius: 1ch;
  background-color: #e5cece;
}

.about p {
  margin: 15px;
  width: 60%;
  text-align: justify;
  margin-left: 19%;
}

.socials ul {
  justify-content: space-evenly;
  margin-top: 5px;
}

.socials button {
  width: 65px;
  height: 30px;
  border-radius: 1ch;
  background-color: #e5cece;
}

a {
  text-decoration: none;
  color: black;
}
